.title {
    font-size: 18px;
    margin-left: 10px;
}
.all {
    display: flex;
}

.products {
    flex:3;
    margin-bottom: 20px;
}


.cart  {
    flex: 1;
    background-image: linear-gradient(to bottom right, #00C0FF, #4218B8);
    border-radius: 20px;
    margin-top: 20px;
    max-height: 600px;
    color: white;
}

.products-container {
    margin-left: 50px;
    margin-top: 20px;
    display: inline-grid;
    grid-template-columns: repeat(1,2fr);
    grid-gap: 0.1rem;
    background-image: linear-gradient(to bottom right, #FDFCFB, #E2D1C3);
    padding: 10px;
    border-radius: 20px;
    transition: transform .2s;
}
.products-container:hover {
    transform: scale(1.04);
}

.product-image {
    height: 150px;
    width: 150px;
}
.addToCart {
    background-image: linear-gradient(to bottom right, #FD8451, #FFBD6F);
    border-radius: 10px;
    border-color: #ffb151;
    transition: transform .2s;
    width: 100px;
    height: 40px;
}

.addToCart:hover {
    transform: scale(1.07);
}

.cartItem {
    display: flex;
    margin-left: 10px;
    background-color: #CEB92C;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.removeItem {
    background-image: linear-gradient(to bottom right, #FF512F, #DD2476);
    margin-left: 20px;
    border-radius: 20px;
    border-color: #ff1533;
}
.checkout {
    background-image: linear-gradient(to bottom right, #72FFB6, #10D164);
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 15px;
    border-color: #00ff02;
    transition: transform .2s;
}
.checkout:hover {
    transform: scale(1.07);
}

.total {
    margin-top: 40px;
    margin-left: 19px;
}

.cartImage {
    max-height: 50px;
    max-width: 50px;
}

.nameandsurname {
    margin-top: 15px;
    margin-left: 19px;
}

#ccn {
    margin-left: 10px;
    border-radius: 7px;
    border-color: white;
}
.dati {
    border-radius: 7px;
    border-color: white;
}
.ccn {
    margin-left: 19px;
}