nav {
    display: flex;
    margin: 2px;
    background-image: linear-gradient(to bottom right, #00C0FF, #4218B8);
    color: white;
    height: 75px;
    align-items: center;
}
.back {
    margin-left: auto;
    margin-right: 7px;
}
.back a {
    color: white;
    text-decoration: none;
}
.logo {
    width: 90px;
    height: 90px;
    margin-left: auto;
    margin-right: 140px;
}
nav h1 {
    font-size: 19px;
    margin-left: 10px;
}